# by default use heuristics
*               text=auto

# standard text files
*.scala         text
*.java          text
*.conf          text
*.properties    text
*.sbt           text
*.yml           text
*.json          text

# binary file
*.png           -text
*.jpg           -text
*.pdf           -text

# special text files
# NB: we must undo effect of "* text=auto" here
*.bat           !text eol=crlf
*.sh            !text eol=lf